@model OceanViewHotel.Models.Prenotazione

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prenotazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataCheckIn" class="control-label"></label>
                <input id="dataInizio" type="date" asp-for="DataCheckIn" value="@DateOnly.FromDateTime(DateTime.Today)" class="form-control" />
                <span asp-validation-for="DataCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckOut" class="control-label"></label>
                <input id="dataFine" value="@DateOnly.FromDateTime(DateTime.Today).AddDays(1)" type="date" asp-for="DataCheckOut" class="form-control" />
                <span asp-validation-for="DataCheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caparra" class="control-label"></label>
                <input asp-for="Caparra" class="form-control" />
                <span asp-validation-for="Caparra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCamera" class="control-label"></label>
                <select id="IdCamera" asp-for="IdCamera" class="form-control">
                    @foreach (var item in ViewData["IdCamera"] as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control">
                    @foreach (var item in ViewData["IdCliente"] as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdPensione" class="control-label"></label>
                <select id="IdPensione" asp-for="IdPensione" class="form-control">
                    @foreach (var item in ViewData["IdPensione"] as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}