@model OceanViewHotel.Models.Servizio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servizio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataServizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataServizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenotazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenotazione.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
